
## postgres configuration
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

## better-auth Configuration
AUTH_SECRET=random_secret_key
AUTH_EXPIRES_IN=3600s
BETTER_AUTH_URL=http://localhost:3000

MODE=DEV
RUN_MIGRATIONS=true
